<?php
?>
<div class="grid-x playlist-grid">
	<div class="cell large-12">
		<p><?= $packageEntity->package_cost?></p>
		<?= $this->Form->create() ?>
		<?= $this->Form->button(__('Add to cart'), array('class' => 'login-sign-in button primary ')) ?>
		<?= $this->Form->end() ?>
	</div>
</div>
