<?php
?>

<div class="grid-x">
	<div class="cell small-12">
		<?php echo $this->element('invoice') ?>


	<?php echo $this->Form->create(null, array('url' => $url))?>
	<?= $this->Form->hidden('m_shop', array('value' => $mShop))?>
	<?= $this->Form->hidden('m_orderid', array('value' => $mOrderId))?>
	<?= $this->Form->hidden('m_desc', array('value' => $mDescription))?>
	<?= $this->Form->hidden('m_amount', array('value' => $mAmount)) ?>
	<?= $this->Form->hidden('m_curr', array('value' => $mCurr)) ?>
	<?= $this->Form->hidden('m_sign', array('value' => $sign)) ?>
	
	
	<?= $this->Form->input(__('Pay'), array('name'=>'m_process', 'value'=>'send', 'type' => 'submit', 'class' => 'primary button pay')) ?>
    <?= $this->Form->end();?> 
        


	

		
	</div>
</div>