<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Referral $referral
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Referrals'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Parent Referrals'), ['controller' => 'Referrals', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Parent Referral'), ['controller' => 'Referrals', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="referrals form large-9 medium-8 columns content">
    <?= $this->Form->create($referral) ?>
    <fieldset>
        <legend><?= __('Add Referral') ?></legend>
        <?php
            echo $this->Form->control('user_id', ['options' => $users]);
            echo $this->Form->control('parent_id', ['options' => $parentReferrals]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
