<?php 

$this->layout = 'no_layout';
?>

<section class="intro">

<?php 

	echo $this->element('top_bar_with_logo');
	
?>

<div class="grid-x">
	
	<div class="center-absolute">
		<?php 
		echo $this->element('signup2');
		?>	
	</div>
</div>


</section>
