<?php 

$this->layout = 'no_layout';
?>

<section class="intro">
<?php 

	echo $this->element('top_bar_with_logo');

?>
<?= $this->Flash->render() ?>

<div class="grid-x">
	
	<div class="center-absolute">
		<?php 
		echo $this->element('login2');
		?>	
	</div>
</div>


</section>