:root {
  --scheme-1: #031043;
  --scheme-2: rgba(45,37,64,1);
  --scheme-3: rgba(45, 37, 64, 0.13);

  --scheme-4: #2D2540;
  --side-nav-link-color:#fff;
  --top-bar-bg-color:blue;

  --primary-action:rgb(253, 83, 83);
  --primary-action-hover:#ef6d6d;

  --login-signup-bg-color:#50D282;
  --login-signup-bg-color-hover:#62D990;
}
.top-bar, .top-bar ul {
    background-color: transparent;
    list-style-type: none;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
}
.top-bar li {
  display: inline;
}

.top-bar a {
  color: white;
  padding: 0.8rem;
}

.top-bar a:hover {
  text-decoration: underline;
}

.list-group-horizontal{
  list-style-type: none;

}
.list-group-horizontal-item{
  display: inline;
  padding: 16px;
}
.list-group-horizontal-item a{
  color: white;
}
.list-group-horizontal-item a:hover{
  text-decoration: underline;
}

.logged-background{
  background: 
    -webkit-linear-gradient();
  background: 
    -o-linear-gradient();
  background: 
    linear-gradient(#2d2540, rgba(253,83,83,0.8));
  min-height: 100vh;
}
.playlist-grid{
  margin: 2% 7%;
  background: white;
  padding: 30px;
}

section{
  
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: auto;
}
.intro {
  height: 100vh;
  /*background-image: url("../img/img_bg.jpg");*/
  background-size: cover;
  background: no-repeat;

  background: 
    -webkit-linear-gradient();
  background: 
    -o-linear-gradient();
  background: 
    linear-gradient(
      rgba(41,41,41, 0.54),
      rgba(41,41,41, 0.54)
      ),
    url("../img/home_background.jpg");


}



#hero-content{
    margin-top: 5%
}

#hero-content h1{
    font-size: 4rem;
    color: white;
}

#hero-content h5{
    font-size: 1.5rem;
    color: white;
    margin-top: -6px;
    letter-spacing: 0.4px;
}
#hero-subheader{
  margin-top: 1rem;
}



.box-text{
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}
#btn_red_cta a{
    filter: drop-shadow(0px 30px 50px rgba(255, 83, 83, 0.341));
    /* position: absolute; */
    overflow: visible;
    width: 18rem;
    margin-top: 2rem;
    background-color: var(--primary-action);
}
#login-cta-top-bar{
  background-color: var(--primary-action);
  color: #fff;
}
#join-cta-top-bar {
  color: #fff;
  background-color: #031043;
  border-radius: 4px;
  border-color: #031043;
}
body,h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;

}
.vid-thumb{
    height: 240px;
    width: -webkit-fill-available;
}
.related-thumb{
    height: auto;
    width: -webkit-fill-available;
}
.vid-duration{
	color: gray;
	font-size: 0.75rem;
}

.vid-duration i{
  color: red;
  
}
.card{
	margin: 16px;
  border: none;
}
a.video-title{
    color: #000;
    font-weight: bold;

}

a.video-title:hover{
    color: #6f716d;
    text-decoration: underline;

}

.header-center-margin {
	text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.separator {
    width: 2rem;
    height: 0.125rem;
    display: block;
    margin: auto;
    margin-bottom: 1.125rem;
    background-color: var(--scheme-2);
}

.home-content{
	margin-top: 5.5rem;
	margin-left: 1.125rem;
	margin-right: 1.125rem;
}

.home-content h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}



.box{
	position: relative;
}
.box-text{
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
blockquote {
font-family: Georgia, serif;
font-size: 1rem;
font-style: italic;
margin: 2.5rem auto;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
border-left: none;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 4rem;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}
#stats{
	background: #2D2540;
	color: #fff;
}
#stats h2{
	font-size: 4rem;
  margin: 2.5rem;
}

/* PRicing tables begin **/




#container a{
	font-size: 18px;
	font-family:'Open Sans';
  color: white;

  text-decoration: none;

}

input:focus,textarea:focus,select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}

#container  sup{

	font-size: 40px;
}

#container ul{
	list-style: none;
	font-size: 1rem;
	
	color: #2d2540;
	padding: 0px;
	margin: 0px;


}


#container li{
border-bottom: 1px solid #494a5a;
padding: 0px;
margin: 0px;
text-align: center;
height: 52px;
line-height: 52px;
}


#container{
	width: 100%;
  text-align:center;
}

.whole{
	display: inline-block;
  
}

.type {
    
    
  height: 62px;
  background-color: var(--scheme-2);
}

.type p{
	font-family:'Open Sans';
    font-weight: 800;
	font-size: 29px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 10px;

	

}

.plan{
	width: 300px;
	background-color: var(--scheme-3);
  border: 1px solid var(--scheme-2);

	
    font-family:'Open Sans';
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;


}
.standard{
	background-color: #1abc9c;
	border-bottom: 3px solid #18937b;
}

.ultimate{
	background-color: #5d6a9a;
	border-bottom: 3px solid #474f6f;
}





.header{
	border-bottom: 1px solid #494a5a;
	padding-bottom: 39px;
  color: #2d2540;

}
.header .content{
  color: #2d2540;
}

.header span{
	font-size: 32px;

	
}

.month{
	font-size: 14px;
	color: #575757;
	padding: 0px;
	margin: -10px;
}

.price{
	height:80px;
}

.cart{
  
  color:white;
  position: relative;
  top: 16px;
  
}




.top{
  margin-top:35px;
}

.nodisplay{
  opacity: 0.1;
}

.selected{
  background-color:#1F1B36;
  margin:0px;
  padding:0px;
}

#how-it-works{
	margin-top: 3rem;
  margin-bottom: 3rem;
  color: #1b1426;
}

#how-it-works h3{
    margin-bottom: 3rem;
    font-weight: bold;
}

#how-it-works h5{
    font-weight: bold;
    margin-bottom: 1rem;
}


#how-it-works .description{
  margin-left: 50px;
  margin-right: 25px;
}


.service-heading {
    text-transform: none;
    font-size: 22px;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 22px;
}


#plans{
	margin-top: 3rem;
}
#plans h1{
  margin-bottom: 3rem;
  color: rgba(221,46,52,1);
}
#about-us{
  margin-top: 3rem;
}
#about-us h1{
  color: rgba(221,46,52,1);
}

#about-us .description{
  margin-left: 1.25rem;
}
#description h2{
	font-size: 2.5rem;
}
.image-description-left{
	width: 488px;
	height: 278px;
}



.cloud-circle {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 27.6px 2.4px rgba(0,0,0,0.08);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    transform: scale(1);
}
/*** wire 1st div #google is second**/
#image-wrapper{
	position: relative;
}
#wire {
    height: 400px;


}
#google{
	position: absolute;
	
	width: 140px;
    height: 154px;
    top: 50px;
    left: 30px;
}
#aws{
position: absolute;
	
	width: 120px;
    height: 110px;
    top: 40px;
    right: 80px;
}
#microsoft{
position: absolute;
	
	width: 170px;
    height: 180px;
    left: 120px;
    top: 240px;
}

video {
  width: 100%    !important;
  height: auto   !important;
}
#login{
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,16,67,1) 35%, rgba(0,212,255,1) 100%);
padding: 10px;
}

.login-signup-box{
  background: rgba(255,255,255,0.37);
  color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1.5rem 3rem;
}

.login-signup-box a{
  color: white;
}

.login-signup-box a:hover{
  text-decoration: underline;
}


.login-signup-box label{
  color: white;
}

.login-window{
	background: #fff;
        margin: 5% auto 0;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,30,.5);

}
.tab_menu {
    list-style-type: none;
    padding: 40px 25px;    
    margin: 0;
    
    border-left: 0;
    border-right: 0;
    text-align: center;
    font-size: 2rem;
}
.login-sign-in{
	width: 100%;
  background-color: var(--login-signup-bg-color);

}
.login-sign-in:hover{
  background: var(--login-signup-bg-color-hover);
}
.login-tab-switch{
	border-top: 0;
    margin: 0 0 1rem;
    font-size: 1.2rem;
}
.login-tab-switch a {
    margin: 0 1rem;
    color: #71767a;
    padding: 0.5rem 0;
}
.login-tab-switch .login-selected{
	color: #1779ba;
	border-bottom: 2px solid #1779ba;
}
#reset-password{
	font-size: 0.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* alert and flash messages */

.alert-box {
  padding-right: 3.25rem;
  width: 100%;
}

.alert-box.callout {
  color: #fefefe;
  font-weight: bold;
}

.alert-box.alert {
  border: 3px solid #cc4b37;
  border-radius: 5px;
  background-color: rgba(204, 75, 55, 0.2);
}

.alert-box.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}

.alert-box.success {
  border: 3px solid #3adb76;
  border-radius: 5px;
  background-color: rgba(58, 219, 118, 0.2);
}

.alert-box.info {
  border: 3px solid #1779ba;
  border-radius: 5px;
  background-color: rgba(23, 121, 186, 0.2);
}

.alert-box i {
  border: 2px solid #fefefe;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
}

.alert-box .close-button {
  color: rgba(254, 254, 254, 0.5);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}












/* Small only */
@media screen and (max-width: 39.9375em) {
	#wire{
	height: calc(.59 * 400px);
    top: calc(.59 * 45px);
    left: calc(.59 * 80px);
	}

	#google{
	position: absolute;
	
	width: calc(0.6*140px);
    height: calc(0.6*154px);
    top: calc(0.6*50px);
    left: calc(0.6*30px);
	}

	#aws{
	position: absolute;
		
		width: calc(0.6*120px);
	    height: calc(0.6*110px);
	    top: calc(0.6*40px);
	    right: calc(0.6*80px);
	}
	#microsoft{
	position: absolute;
		
		width: calc(0.6*170px);
	    height: calc(0.6*180px);
	    left: calc(0.6*120px);
	    top: calc(0.6*240px);
	}

	.box{
	position: relative;
}
.box-text{
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


}

/*Side nav*/



.list-group {
  margin-bottom: 1rem;
  
  border-radius: 0;
  background: var(--scheme-1);
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  margin-right: 1rem;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  /*border-bottom: 1px solid #e6e6e6;*/
}

.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #f1f1f1;
  color: var(--scheme-2);
}

.list-group-item>a, .list-group-item>a {
  color: #ffffff;
}
.list-group-item:hover>a, .list-group-item:focus>a {
  
  color: var(--scheme-2);
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}


.cardify {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  
  
  margin: 0;
  margin-top: 1rem;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  width: -webkit-fill-available;
}

.snapshot{
  
  background: #031043;
  color: white;
  
  padding: 0px;
  padding-left: 0.5rem;
  border-left: 0.25rem solid var(--scheme-2);
}
p.stats{
  font-size: 2rem;
  margin: 24px auto;
  padding-left: 12px;
}
p.stats-details{
  padding-left: 0.75rem;
}












.stats-header{
  height: -webkit-fill-available;
}
#related{
	padding: 10px;
}
#dashboard-header{
  

}
#dashboard-container{
  background-color: #f5f5f5;
  padding-bottom: 1rem;
}
#dashboard-header p{
  margin: 1rem 1rem;
}
.user-stats{
  list-style: none;
}
.user-stats h5{
  font-weight: bold;
  margin-bottom: 0;
}
/* foundation icons */
.fi-right{
  margin-right: 0.5rem;
}

/* end foundation icons */

.counter{
  color: var(--scheme-2);
}
#payment-gateways{
  background: aliceblue;
  padding-bottom: 3rem;
}
.social{
  list-style: none;
}

#footer{
  
 
}
#footer ul > li{
  display: inline-block;
  padding: 1rem;
  
}
.social-email {
  padding: 1rem;
  
}

#footer a{
  
  color: var(--scheme-1);
}
#invoice{
  margin: 0 auto;
}
#invoice ul > li{
  display: inline-block;
  padding: 1rem;
  
}
.invoice-header{
  background: #edeef3;
  color: gray;

}
.pay{
  
}
.button.primary.pay {
    background-color: var(--scheme-1);
    color: #fefefe;
    width: -webkit-fill-available;
    margin: 3rem;
}

.button-radius{
  border-radius: 1rem;
}
.button.primary {
    background-color: var(--primary-action);
    color: #fefefe;
}

.button.primary:hover {
    background-color: var(--primary-action-hover);
    
}

#testimonial{
  
  background-size: cover;
  height: 300px;
  color: white;

  background: 
    -webkit-linear-gradient();
  background: 
    -o-linear-gradient();
  background: 
    linear-gradient(to right, rgba(45,37,64,0.5), rgba(253,83,83,0.8)),
    url("../img/img_br.jpg");
}

#faq-header{
  height: 300px;
  color: white;
  background: 
    -webkit-linear-gradient();
  background: 
    -o-linear-gradient();
  background: 
    linear-gradient(to right, rgba(45,37,64,0.5), rgba(253,83,83,0.8)),
    url("../img/img.jpg");

}
#faq-header .center-absolute{
  position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.top-bar-right{
  margin-top: 10px;
  color: white;
}

#social{
  height: 300px;
  background: 
    -webkit-linear-gradient();
  background: 
    -o-linear-gradient();
  background: 
    linear-gradient(rgba(3,16,67,0.8), rgba(3,16,67,0.8)),
    url("../img/img.jpg");
}

.circe-social{
 width: 50px;
 height: 50px;
 background: white;
 border-radius: 50%;
 display: inline-block;
 margin:auto;
}

.social-buttons{
  text-align: center;
}


.avatar-a{
  display: inline-block;
}
.avatar-holder{
  margin-top: 100px;
}

table thead {
    background: var(--scheme-4);
    color: white;
}

.sub-chart div {
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {

  .center-absolute{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

	#wire{
	height: calc(1.12 * 400px);
    top: calc(1.12 * 45px);
    left: calc(1.12 * 80px);
	}

	#google{
	position: absolute;
	
	width: calc(1.12*140px);
    height: calc(1.12*154px);
    top: calc(1.12*50px);
    left: calc(1.12*30px);
	}

	#aws{
	position: absolute;
		
		width: calc(1.12*120px);
	    height: calc(1.12*110px);
	    top: calc(1.12*40px);
	    right: calc(1.12*80px);
	}
	#microsoft{
	position: absolute;
		
		width: calc(1.12*170px);
	    height: calc(1.12*180px);
	    left: calc(1.12*120px);
	    top: calc(1.12*240px);
	}

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

