.mediaViewInfo {
		--web-view-name: Adpayer Homepage;
		--web-view-id: Adpayer_Homepage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Adpayer_Homepage;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Adpayer_Homepage {
		position: absolute;
		width: 1920px;
		height: 5195px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Adpayer Homepage;
		--web-view-id: Adpayer_Homepage;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#img_bg {
		position: absolute;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: -60px;
		overflow: visible;
	}
	#overlay {
		opacity: 0.549;
	}
	.overlay {
		position: absolute;
		overflow: visible;
		width: 1921px;
		height: 1020px;
		left: -1px;
		top: 0px;
	}
	.Rectangle_458 {
		position: absolute;
		overflow: visible;
		width: 524px;
		height: 576px;
		left: 1233px;
		top: 263px;
	}
	#Footer {
		position: absolute;
		width: 1920px;
		height: 135.328px;
		left: 0px;
		top: 5069px;
		overflow: visible;
	}
	.bg {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 135.328px;
		left: 0px;
		top: 0px;
	}
	#Home______About_Us_______Our_W {
		position: absolute;
		left: 649px;
		top: 56px;
		overflow: visible;
		width: 623px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#Newsletter {
		position: absolute;
		width: 1920px;
		height: 412px;
		left: 0px;
		top: 4657px;
		overflow: visible;
	}
	#img {
		position: absolute;
		width: 1920px;
		height: 412px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#overlay_r {
		opacity: 0.801;
	}
	.overlay_r {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 412px;
		left: 0px;
		top: 0px;
	}
	#social_media {
		position: absolute;
		width: 330px;
		height: 50px;
		left: 795px;
		top: 273px;
		overflow: visible;
	}
	#linkedin {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 280px;
		top: 0px;
		overflow: visible;
	}
	.bg_u {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#linkedin_logo {
		position: absolute;
		width: 15.136px;
		height: 14.463px;
		left: 17px;
		top: 18px;
		overflow: visible;
	}
	.LinkedIn_w {
		overflow: visible;
		position: absolute;
		width: 15.136px;
		height: 14.463px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#twitter {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 210px;
		top: 0px;
		overflow: visible;
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#twitter_logo_silhouette {
		position: absolute;
		width: 17.673px;
		height: 14.356px;
		left: 16px;
		top: 18px;
		overflow: visible;
	}
	#Group_20 {
		position: absolute;
		width: 17.673px;
		height: 14.356px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 17.673px;
		height: 14.355px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#instagram {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 140px;
		top: 0px;
		overflow: visible;
	}
	.bg_ {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#instagram_logo {
		position: absolute;
		width: 14.938px;
		height: 14.938px;
		left: 18px;
		top: 18px;
		overflow: visible;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 14.938px;
		height: 14.938px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 7.698px;
		height: 7.698px;
		left: 3.62px;
		top: 3.62px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 1.944px;
		height: 1.944px;
		left: 10.508px;
		top: 2.496px;
		transform: matrix(1,0,0,1,0,0);
	}
	#youtube {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 70px;
		top: 0px;
		overflow: visible;
	}
	.bg_ba {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#youtube_logo {
		position: absolute;
		width: 11.667px;
		height: 14px;
		left: 19px;
		top: 18px;
		overflow: visible;
	}
	.YouTube_bb {
		overflow: visible;
		position: absolute;
		width: 11.667px;
		height: 14px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#facebook {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.bg_bd {
		position: absolute;
		overflow: visible;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#facebook_logo {
		position: absolute;
		width: 7.868px;
		height: 14.553px;
		left: 21px;
		top: 18px;
		overflow: visible;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 7.868px;
		height: 14.553px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#newsletter {
		position: absolute;
		width: 894px;
		height: 49px;
		left: 491px;
		top: 164px;
		overflow: visible;
	}
	#btn {
		position: absolute;
		width: 177px;
		height: 49px;
		left: 717px;
		top: 0px;
		overflow: visible;
	}
	.btn_bi {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 195px;
		height: 67px;
		left: 0px;
		top: 0px;
	}
	#SUBSCRIBE {
		position: absolute;
		left: 43px;
		top: 14px;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Nunito;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	
	
	#Name_bm {
		position: absolute;
		left: 16px;
		top: 14px;
		overflow: visible;
		width: 46px;
		white-space: nowrap;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(149,152,154,1);
	}
	
	.input_bo {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 467px;
		height: 67px;
		left: 0px;
		top: 0px;
	}
	#Your_email {
		position: absolute;
		left: 16px;
		top: 14px;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(149,152,154,1);
	}
	#Subscribe_to_our_newsletter_to {
		position: absolute;
		left: 591px;
		top: 81px;
		overflow: visible;
		width: 738px;
		white-space: nowrap;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: rgba(255,255,255,1);
	}
	#img_br {
		position: absolute;
		width: 1920px;
		height: 459px;
		left: 0px;
		top: 4248px;
		overflow: visible;
	}
	#overlay_bt {
		opacity: 0.801;
	}
	.overlay_bt {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 459px;
		left: 0px;
		top: 4248px;
	}
	#overlay_bu {
		opacity: 0.801;
	}
	.overlay_bu {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 459px;
		left: 0px;
		top: 1831px;
	}
	#pagination {
		position: absolute;
		width: 14px;
		height: 80px;
		left: 1791px;
		top: 4475px;
		overflow: visible;
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 14px;
		left: 0px;
		top: 0px;
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 14px;
		left: 0px;
		top: 44px;
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 14px;
		left: 0px;
		top: 22px;
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 14px;
		height: 14px;
		left: 0px;
		top: 66px;
	}
	#_Meat_it_which_kind_cattle__Tr {
		position: absolute;
		left: 178px;
		top: 4558px;
		overflow: visible;
		width: 768px;
		height: 82px;
		text-align: left;
		font-family: Open Sans;
		font-style: italic;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#_Meat_it_which_kind_cattle__Tr_b {
		position: absolute;
		left: 1024px;
		top: 4558px;
		overflow: visible;
		width: 768px;
		height: 82px;
		text-align: left;
		font-family: Open Sans;
		font-style: italic;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#avatar {
		
		width: 251px;
		height: 96px;
		left: 178px;
		top: 4437px;
		overflow: visible;
	}
	#John_Smith_Founder_of_Mania {
		position: absolute;
		left: 117px;
		top: 24px;
		overflow: visible;
		width: 135px;
		white-space: nowrap;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#img_bg_b {
		position: absolute;
		width: 96px;
		height: 96px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#avatar_b {
		position: absolute;
		width: 251px;
		height: 96px;
		left: 1024px;
		top: 4437px;
		overflow: visible;
	}
	#John_Smith_Founder_of_Mania_b {
		position: absolute;
		left: 117px;
		top: 24px;
		overflow: visible;
		width: 135px;
		white-space: nowrap;
		text-align: left;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
	}
	#img_bg_ca {
		position: absolute;
		width: 96px;
		height: 96px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#scroll {
		position: absolute;
		width: 25px;
		height: 41px;
		left: 948px;
		top: 949px;
		overflow: visible;
	}
	.Rectangle_39 {
		
		overflow: visible;
		width: 25px;
		height: 41px;
		left: 0px;
		top: 0px;
	}
	.Rectangle_40 {
		
		overflow: visible;
		width: 3px;
		height: 8px;
		left: 11px;
		top: 10px;
	}
	#Services______Plans____Rewards {
		position: absolute;
		left: 1098.698px;
		top: 70px;
		overflow: visible;
		width: 455px;
		white-space: nowrap;
		text-align: right;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Group_195 {
		
		width: 149px;
		height: 61.529px;
		
		overflow: visible;
	}
	.Path_1_cd {
		overflow: visible;
		position: absolute;
		width: 20.64px;
		height: 20.64px;
		left: 0px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_2_ce {
		overflow: visible;
		position: absolute;
		width: 20.64px;
		height: 20.64px;
		left: 64.261px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_3_cf {
		overflow: visible;
		position: absolute;
		width: 20.64px;
		height: 41.084px;
		left: 21.42px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_4_cg {
		overflow: visible;
		position: absolute;
		width: 20.639px;
		height: 41.084px;
		left: 42.841px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_5_ch {
		overflow: visible;
		position: absolute;
		width: 20.467px;
		height: 20.64px;
		left: 128.533px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_6 {
		overflow: visible;
		position: absolute;
		width: 20.633px;
		height: 20.64px;
		left: 107.102px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_7 {
		overflow: visible;
		position: absolute;
		width: 20.64px;
		height: 41.084px;
		left: 85.681px;
		top: 20.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Watch_Ads_for_Money_and_Earn_C {
		position: absolute;
		left: 152px;
		top: 259px;
		overflow: visible;
		width: 797px;
		height: 310px;
		line-height: 97px;
		margin-top: -11px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 75px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.07px;
	}
	#Boost_your_income {
		position: absolute;
		left: 164px;
		top: 1121px;
		overflow: visible;
		width: 797px;
		height: 96px;
		line-height: 48px;
		margin-top: -6px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 36px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#What_our_members_are_saying {
		position: absolute;
		left: 164px;
		top: 4341px;
		overflow: visible;
		width: 1338px;
		height: 96px;
		line-height: 97px;
		margin-top: -26.5px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.07px;
	}
	#Component {
		position: absolute;
		width: 450.672px;
		height: 227px;
		left: 76px;
		top: 668px;
		overflow: visible;
	}
	.Rectangle_454 {
		filter: drop-shadow(0px 30px 50px rgba(255, 83, 83, 0.341));
		position: absolute;
		overflow: visible;
		width: 450.672px;
		height: 227px;
		left: 75px;
		top: 45px;
	}
	#Start_a_free_trial {
		position: absolute;
		left: 117px;
		top: 71px;
		overflow: visible;
		width: 192px;
		white-space: nowrap;
		line-height: 91px;
		margin-top: -34px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 23px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Anywhere__anytime_and_boost_yo {
		position: absolute;
		left: 151px;
		top: 569px;
		overflow: visible;
		width: 822px;
		white-space: nowrap;
		line-height: 48px;
		margin-top: -6px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 36px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Here_s_how_you_can_earn_Cash__ {
		position: absolute;
		left: 164px;
		top: 1234px;
		overflow: visible;
		width: 1546px;
		white-space: nowrap;
		line-height: 48px;
		margin-top: -6px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 36px;
		color: rgba(27,20,38,1);
		letter-spacing: 0.4px;
	}
	.Rectangle_459 {
		filter: drop-shadow(0px 30px 50px rgba(255, 83, 83, 0.341));
		position: absolute;
		overflow: visible;
		width: 306.95px;
		height: 189.203px;
		left: 1609px;
		top: 62px;
	}
	#Log_in {
		position: absolute;
		left: 1656.311px;
		top: 72.404px;
		overflow: visible;
		width: 66px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Group_196 {
		position: absolute;
		width: 423.284px;
		height: 511.683px;
		left: 1284.155px;
		top: 290.517px;
		overflow: visible;
	}
	#Group_9996 {
		position: absolute;
		width: 423.284px;
		height: 511.683px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_9585 {
		position: absolute;
		width: 423.284px;
		height: 311.749px;
		left: 0px;
		top: 160.151px;
		overflow: visible;
	}
	#Group_9579 {
		position: absolute;
		width: 422.878px;
		height: 42.288px;
		left: 0.406px;
		top: 269.461px;
		overflow: visible;
	}
	
	#Join_our_community {
		position: absolute;
		left: 156.055px;
		top: 12.686px;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		line-height: 19px;
		margin-top: -4px;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Group_9584 {
		position: absolute;
		width: 423.284px;
		height: 257.97px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_9577 {
		position: absolute;
		width: 422.878px;
		height: 62.251px;
		left: 0.406px;
		top: 85.985px;
		overflow: visible;
	}
	.Search_Container {
		position: absolute;
		overflow: visible;
		width: 422.878px;
		height: 42.288px;
		left: 0px;
		top: 19.963px;
	}
	#Email_address {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#johnsmith_gmail_com {
		position: absolute;
		left: 14.096px;
		top: 31.945px;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(149,152,154,1);
		letter-spacing: 0.25px;
	}
	#Group_9576 {
		position: absolute;
		width: 423.284px;
		height: 86px;
		left: 0px;
		top: 171.97px;
		overflow: visible;
	}
	.Search_Container_c {
		position: absolute;
		overflow: visible;
		width: 422.878px;
		height: 42.288px;
		left: 0.406px;
		top: 19.963px;
	}
	#Password {
		position: absolute;
		left: 0.406px;
		top: 0px;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#_Hey_you_forgot_to_create_the_ {
		position: absolute;
		left: 0px;
		top: 74px;
		overflow: visible;
		width: 223px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Group_9998 {
		position: absolute;
		width: 197.343px;
		height: 62.251px;
		left: 0.406px;
		top: 0px;
		overflow: visible;
	}
	.Search_Container_da {
		position: absolute;
		overflow: visible;
		width: 197.343px;
		height: 42.288px;
		left: 0px;
		top: 19.963px;
	}
	#First_Name {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#John {
		position: absolute;
		left: 14.801px;
		top: 31.945px;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(149,152,154,1);
		letter-spacing: 0.25px;
	}
	#Group_9999 {
		position: absolute;
		width: 197.343px;
		height: 62.251px;
		left: 225.941px;
		top: 0px;
		overflow: visible;
	}
	.Search_Container_de {
		position: absolute;
		overflow: visible;
		width: 197.343px;
		height: 42.288px;
		left: 0px;
		top: 19.963px;
	}
	#Last_name {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Smith {
		position: absolute;
		left: 14.096px;
		top: 31.945px;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(149,152,154,1);
		letter-spacing: 0.25px;
	}
	#Checked {
		position: absolute;
		left: 0.048px;
		top: 499.683px;
		overflow: visible;
		width: 302px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Group_9582 {
		position: absolute;
		width: 301px;
		height: 65.022px;
		left: 3.675px;
		top: 0px;
		overflow: visible;
	}
	#Already_have_an_account__Login {
		position: absolute;
		left: 5.432px;
		top: 53.022px;
		overflow: visible;
		width: 181px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Join_our_community_ {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 302px;
		white-space: nowrap;
		line-height: 70px;
		margin-top: -19.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 31px;
		color: rgba(252,252,252,1);
		letter-spacing: 0.25px;
	}
	#Group_9997 {
		position: absolute;
		width: 422.878px;
		height: 42.288px;
		left: 0.406px;
		top: 87.081px;
		overflow: visible;
	}
	.Rectangle_31 {
		position: absolute;
		overflow: visible;
		width: 422.878px;
		height: 42.288px;
		left: 0px;
		top: 0px;
	}
	#Group_9994 {
		position: absolute;
		width: 134.24px;
		height: 21.144px;
		left: 141.664px;
		top: 10.569px;
		overflow: visible;
	}
	.facebook__9_ {
		overflow: visible;
		position: absolute;
		width: 21.144px;
		height: 21.144px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Join_via_facebook {
		position: absolute;
		left: 35.24px;
		top: 1.413px;
		overflow: visible;
		width: 100px;
		white-space: nowrap;
		line-height: 40px;
		margin-top: -14px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.25px;
	}
	#Component_dq {
		position: absolute;
		width: 783.972px;
		height: 377.802px;
		left: 164px;
		top: 1354.198px;
		overflow: visible;
	}
	#View_ads_and_get_paid {
		position: absolute;
		left: 442.972px;
		top: 0px;
		overflow: visible;
		width: 323.32px;
		height: 38.714px;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	.Rectangle_465 {
		position: absolute;
		overflow: visible;
		width: 216.081px;
		height: 55.337px;
		left: 442.972px;
		top: 217.465px;
	}
	#View_plans {
		position: absolute;
		left: 495.186px;
		top: 235.332px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Image_2 {
		position: absolute;
		width: 408.752px;
		height: 272.502px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#In_ad_payer__advertisers_pay_f {
		position: absolute;
		left: 442.972px;
		top: 47.718px;
		overflow: hidden;
		width: 304.413px;
		height: 147.655px;
		line-height: 24px;
		margin-top: -4px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(4,5,5,1);
	}
	#Component_2 {
		position: absolute;
		width: 783.972px;
		height: 377.802px;
		left: 973px;
		top: 1354.198px;
		overflow: visible;
	}
	#Grow_your_network {
		position: absolute;
		left: 442.972px;
		top: 0px;
		overflow: visible;
		width: 323.32px;
		height: 38.714px;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	.Rectangle_465_dy {
		position: absolute;
		overflow: visible;
		width: 216.081px;
		height: 55.337px;
		left: 442.972px;
		top: 217.465px;
	}
	#Get_referral_link {
		position: absolute;
		left: 476.186px;
		top: 235.332px;
		overflow: visible;
		width: 165px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Image_2_d {
		position: absolute;
		width: 408.752px;
		height: 272.502px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Through_direct_referrals_new_m {
		position: absolute;
		left: 442.972px;
		top: 47.718px;
		overflow: visible;
		width: 304.413px;
		height: 147.655px;
		line-height: 24px;
		margin-top: -4px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(4,5,5,1);
	}
	#Component_2___1 {
		position: absolute;
		width: 373px;
		height: 227.846px;
		left: 255px;
		top: 1916.46px;
		overflow: visible;
	}
	#Members {
		position: absolute;
		left: -3px;
		top: 169.846px;
		overflow: visible;
		width: 184px;
		white-space: nowrap;
		text-align: right;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#ID2_500 {
		position: absolute;
		left: 11px;
		top: 52px;
		overflow: visible;
		width: 267px;
		white-space: nowrap;
		text-align: right;
		font-family: SF Display;
		font-style: normal;
		font-weight: bold;
		font-size: 100px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Component_2___2 {
		position: absolute;
		width: 373px;
		height: 227.846px;
		left: 774px;
		top: 1916.46px;
		overflow: visible;
	}
	#Increase_in_revenue {
		position: absolute;
		left: 1px;
		top: 169.846px;
		overflow: visible;
		width: 387px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#ID72_ {
		position: absolute;
		left: 1px;
		top: 52px;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: bold;
		font-size: 100px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Component_2___3 {
		position: absolute;
		width: 426.845px;
		height: 227.846px;
		left: 1284.155px;
		top: 1916.46px;
		overflow: visible;
	}
	#Total_payout {
		position: absolute;
		left: 1px;
		top: 169.846px;
		overflow: visible;
		width: 238px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#_45_000 {
		position: absolute;
		left: 1px;
		top: 51px;
		overflow: visible;
		width: 386px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: bold;
		font-size: 100px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Group_10002 {
		position: absolute;
		width: 1630.565px;
		height: 1021.373px;
		left: 145px;
		top: 2381px;
		overflow: visible;
	}
	#Our_plans {
		position: absolute;
		left: 19px;
		top: 0px;
		overflow: visible;
		width: 797px;
		height: 96px;
		line-height: 97px;
		margin-top: -11px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 75px;
		color: rgba(221,46,52,1);
		letter-spacing: -0.07px;
	}
	#We_have_three_different_member {
		position: absolute;
		left: 19px;
		top: 113px;
		overflow: visible;
		width: 824px;
		white-space: nowrap;
		line-height: 48px;
		margin-top: -6px;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: lighter;
		font-size: 36px;
		color: rgba(27,20,38,1);
		letter-spacing: 0.4px;
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 499px;
		height: 683.373px;
		left: 0px;
		top: 338px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Rectangle_472 {
		position: absolute;
		overflow: visible;
		width: 499px;
		height: 683.373px;
		left: 566.35px;
		top: 338px;
	}
	.Rectangle_475 {
		position: absolute;
		overflow: visible;
		width: 499px;
		height: 683.373px;
		left: 1131.565px;
		top: 338px;
	}
	.Rectangle_468 {
		position: absolute;
		overflow: visible;
		width: 499px;
		height: 90px;
		left: 0px;
		top: 248px;
	}
	.Rectangle_474 {
		position: absolute;
		overflow: visible;
		width: 499px;
		height: 90px;
		left: 566.35px;
		top: 248px;
	}
	.Rectangle_477 {
		position: absolute;
		overflow: visible;
		width: 499px;
		height: 90px;
		left: 1131.565px;
		top: 248px;
	}
	#TRIAL {
		position: absolute;
		left: 200px;
		top: 281px;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: right;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#STUDENT {
		position: absolute;
		left: 739px;
		top: 281px;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: right;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#EXPERT {
		position: absolute;
		left: 1312px;
		top: 281px;
		overflow: visible;
		width: 113px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: right;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#__0 {
		position: absolute;
		left: 162px;
		top: 388.949px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		line-height: 100px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 72px;
		color: rgba(45,37,64,1);
	}
	#__25 {
		position: absolute;
		left: 726.451px;
		top: 388.949px;
		overflow: visible;
		width: 172px;
		white-space: nowrap;
		line-height: 100px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 72px;
		color: rgba(45,37,64,1);
	}
	#__50 {
		position: absolute;
		left: 1293.565px;
		top: 388.949px;
		overflow: visible;
		width: 172px;
		white-space: nowrap;
		line-height: 100px;
		margin-top: -14px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 72px;
		color: rgba(45,37,64,1);
	}
	#ID2_Videos_per_day {
		position: absolute;
		left: 139px;
		top: 527.856px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID5_Videos_per_day {
		position: absolute;
		left: 705.388px;
		top: 527.856px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID20_Videos_per_day {
		position: absolute;
		left: 1270.565px;
		top: 527.856px;
		overflow: visible;
		width: 226px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID1_Month_valid {
		position: absolute;
		left: 163px;
		top: 716.503px;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID12_Month_valid {
		position: absolute;
		left: 729.384px;
		top: 716.503px;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID1_Month_valid_ev {
		position: absolute;
		left: 1294.565px;
		top: 716.503px;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID15_Minimum_payout {
		position: absolute;
		left: 122px;
		top: 622.179px;
		overflow: visible;
		width: 245px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID25_Minimum_payout {
		position: absolute;
		left: 688.391px;
		top: 622.179px;
		overflow: visible;
		width: 245px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID15_Minimum_payout_ey {
		position: absolute;
		left: 1253.565px;
		top: 622.179px;
		overflow: visible;
		width: 245px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID0__Commission_from_referral {
		position: absolute;
		left: 59px;
		top: 810.826px;
		overflow: visible;
		width: 364px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID0__Commission_from_referral_e {
		position: absolute;
		left: 625.403px;
		top: 810.826px;
		overflow: visible;
		width: 364px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#ID0__Commission_from_referral_fa {
		position: absolute;
		left: 1190.565px;
		top: 810.826px;
		overflow: visible;
		width: 364px;
		white-space: nowrap;
		line-height: 44px;
		margin-top: -8px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(53,46,75,1);
	}
	#Line_1 {
		opacity: 0.33;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 74.5px;
		top: 500.892px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_11 {
		opacity: 0.33;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 640.9px;
		top: 500.892px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_16 {
		opacity: 0.33;
	}
	.Line_16 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 1206.065px;
		top: 500.892px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_4 {
		opacity: 0.33;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 74.5px;
		top: 684.353px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_9 {
		opacity: 0.33;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 640.9px;
		top: 684.353px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_14 {
		opacity: 0.33;
	}
	.Line_14 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 1206.065px;
		top: 684.353px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_6 {
		opacity: 0.33;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 74.5px;
		top: 874.873px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_7 {
		opacity: 0.33;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 640.9px;
		top: 874.873px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_12 {
		opacity: 0.33;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 1206.065px;
		top: 874.873px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_2 {
		opacity: 0.33;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 74.5px;
		top: 590.088px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10 {
		opacity: 0.33;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 640.9px;
		top: 590.088px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_15 {
		opacity: 0.33;
	}
	.Line_15 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 1206.065px;
		top: 590.088px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		opacity: 0.33;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 74.5px;
		top: 773.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_8 {
		opacity: 0.33;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 640.9px;
		top: 773.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_13 {
		opacity: 0.33;
	}
	.Line_13 {
		overflow: visible;
		position: absolute;
		width: 351px;
		height: 2px;
		left: 1206.065px;
		top: 773.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Rectangle_471 {
		position: absolute;
		overflow: visible;
		width: 351px;
		height: 64px;
		left: 86px;
		top: 907.373px;
	}
	.Rectangle_473 {
		position: absolute;
		overflow: visible;
		width: 351px;
		height: 64px;
		left: 653.752px;
		top: 907.373px;
	}
	.Rectangle_476 {
		position: absolute;
		overflow: visible;
		width: 351px;
		height: 64px;
		left: 1217.565px;
		top: 907.373px;
	}
	#Add_to_cart {
		position: absolute;
		left: 224.068px;
		top: 928.95px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Add_to_cart_fl {
		position: absolute;
		left: 771.655px;
		top: 928.95px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Add_to_cart_fm {
		position: absolute;
		left: 1318.146px;
		top: 928.95px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Group_10001 {
		position: absolute;
		width: 1709px;
		height: 580.626px;
		left: 106px;
		top: 3543px;
		overflow: visible;
	}
	#About_us {
		position: absolute;
		left: 913px;
		top: 0px;
		overflow: visible;
		width: 797px;
		height: 96px;
		line-height: 97px;
		margin-top: -11px;
		text-align: left;
		font-family: SF Pro Text;
		font-style: normal;
		font-weight: bold;
		font-size: 75px;
		color: rgba(221,46,52,1);
		letter-spacing: -0.07px;
	}
	#img_fp {
		position: absolute;
		width: 853px;
		height: 580.626px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#img_bg_fq {
		position: absolute;
		width: 851px;
		height: 580.626px;
		left: 1px;
		top: 0px;
		overflow: visible;
	}
	#bg_fs {
		opacity: 0.434;
	}
	.bg_fs {
		position: absolute;
		overflow: visible;
		width: 853px;
		height: 580.626px;
		left: 0px;
		top: 0px;
	}
	#Ad_payer_is_a_PTC__paid_to_cli {
		position: absolute;
		left: 913px;
		top: 110px;
		overflow: visible;
		width: 715.972px;
		height: 361px;
		line-height: 36px;
		margin-top: -7.5px;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: lighter;
		font-size: 21px;
		color: rgba(45,37,64,1);
	}
	.Rectangle_467 {
		position: absolute;
		overflow: visible;
		width: 300.081px;
		height: 55.336px;
		left: 900.972px;
		top: 498.663px;
	}
	#Click_to_read_more {
		position: absolute;
		left: 953.186px;
		top: 516.53px;
		overflow: visible;
		width: 196px;
		white-space: nowrap;
		text-align: left;
		font-family: SF Display;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}