<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Referral[]|\Cake\Collection\CollectionInterface $referrals
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Referral'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="referrals index large-9 medium-8 columns content">
    <h3><?= __('Referrals') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('parent_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($referrals as $referral): ?>
            <tr>
                <td><?= $this->Number->format($referral->id) ?></td>
                <td><?= $referral->has('user') ? $this->Html->link($referral->user->id, ['controller' => 'Users', 'action' => 'view', $referral->user->id]) : '' ?></td>
                <td><?= $referral->has('parent_referral') ? $this->Html->link($referral->parent_referral->id, ['controller' => 'Referrals', 'action' => 'view', $referral->parent_referral->id]) : '' ?></td>
                <td><?= h($referral->created) ?></td>
                <td><?= h($referral->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $referral->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $referral->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $referral->id], ['confirm' => __('Are you sure you want to delete # {0}?', $referral->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
