<?php
?>
<ul class="menu">
      <li>
      	<?= $this->Html->link(__('Login'), ['controller' => 'Users', 'action' => 'login'],['class' => 
      	'button primary button-radius','id' => 'login-cta-top-bar'])?>
	  </li>
	  <li>
      	
	  </li>
     
</ul>