<?php ?>
<?php
if (isset($loggedInUser['id'])) {
          # code...

         
          ?>
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="has-submenu">
                <i class="fi-torso"></i><?php  echo ' '. $loggedInUser['f_name']; ?>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><?= $this->Html->link(__('Logout'), ['controller' => 'Users', 'action' => 'logout'])?></li>
                    
                  </ul>
            </li>
          </ul>
          <?php
        }else{
           echo $this->element('cta');
        }
?>