<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
use Cake\Cache\Cache;
use Cake\Core\Configure;
use Cake\Core\Plugin;
use Cake\Datasource\ConnectionManager;
use Cake\Error\Debugger;
use Cake\Http\Exception\NotFoundException;

$this->layout = false;

$siteDescription = 'Earn money online by watching videos';
?>

<!DOCTYPE html>
<html class="no-js">
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $siteDescription ?>
    </title>

    <?= $this->Html->meta('icon') ?>
    
    <?= $this->Html->css('foundation.min.css') ?>
    <?= $this->Html->css('app.css') ?>
    <?= $this->Html->css('app2.css') ?>
    <?= $this->Html->css('foundation-icons.css') ?>
    <?= $this->Html->css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css') ?>
    
    
    

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
     <?php 
        echo $this->Html->script('vendor/jquery', array('block' => 'scriptBottom'));
        echo $this->Html->script('vendor/what-input', array('block' => 'scriptBottom'));
        echo $this->Html->script('vendor/foundation', array('block' => 'scriptBottom'));
        echo $this->Html->script('app.js', array('block' => 'scriptBottom'));
        echo $this->Html->script('vendor/jquery.waypoints.min', array('block' => 'scriptBottom'));
        echo $this->Html->script('vendor/jquery.counterup.min', array('block' => 'scriptBottom'));
    ?> 

<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="f4c6dc9d-de0d-4b8f-a4b7-e6c4616894ba";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>

</head>
<body>


<section class="intro">
    <div class="content">
        <div class="title-bar" data-responsive-toggle="site-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle="site-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="site-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">
               <div id="Group_195">
                    <svg class="Path_1_cd" viewBox="496.409 251.841 20.64 20.64">
                        <path fill="rgba(255,255,255,1)" id="Path_1_cd" d="M 517.0416259765625 261.6813354492188 L 517.031005859375 261.6813354492188 C 516.8926391601562 258.6685791015625 515.4605102539062 255.8908081054688 513.0744018554688 254.0270385742188 L 513.0744018554688 254.0253295898438 L 513.0364990234375 253.9959716796875 L 512.8790283203125 253.8742065429688 L 512.8790283203125 253.8793182373047 C 511.0892944335938 252.5464172363281 508.9679260253906 251.8410034179688 506.7291259765625 251.8410034179688 C 501.0386047363281 251.8410034179688 496.408935546875 256.4706420898438 496.408935546875 262.1611328125 C 496.408935546875 267.8516235351562 501.0386047363281 272.4808349609375 506.7291259765625 272.4808349609375 C 508.9679260253906 272.4808349609375 511.0892944335938 271.7758178710938 512.8790283203125 270.4429321289062 L 512.8790283203125 270.4480590820312 L 512.8790283203125 272.4808349609375 L 517.0416259765625 272.4808349609375 L 517.0416259765625 262.443359375 L 517.0416259765625 262.2505187988281 L 517.0446166992188 262.162841796875 C 517.0467529296875 262.0976867675781 517.0488891601562 262.0321350097656 517.0488891601562 261.9657287597656 C 517.0488891601562 261.900146484375 517.0467529296875 261.8345947265625 517.0446166992188 261.7694702148438 L 517.0416259765625 261.6813354492188 Z M 506.7291259765625 268.3250122070312 C 503.3302001953125 268.3250122070312 500.5647583007812 265.5599975585938 500.5647583007812 262.1611328125 C 500.5647583007812 258.7622375488281 503.3302001953125 255.9968109130859 506.7291259765625 255.9968109130859 C 506.9147338867188 255.9968109130859 507.0986328125 256.0061645507812 507.2803955078125 256.0223388671875 C 507.3689575195312 256.0304565429688 507.4570922851562 256.0406494140625 507.5452270507812 256.0525817871094 C 507.5715942382812 256.0559997558594 507.598876953125 256.05810546875 507.625244140625 256.0623779296875 C 507.7201843261719 256.0759887695312 507.8138427734375 256.0921630859375 507.9075317382812 256.1104736328125 L 507.916015625 256.1121826171875 C 507.9721984863281 256.1232299804688 508.0271301269531 256.1364440917969 508.0824584960938 256.1488037109375 C 508.1224975585938 256.1581420898438 508.1629028320312 256.1658325195312 508.2025146484375 256.1756286621094 C 508.2344665527344 256.1832580566406 508.2655639648438 256.1930541992188 508.2974548339844 256.2015991210938 C 508.359619140625 256.2177734375 508.4221801757812 256.2339477539062 508.4834594726562 256.2522277832031 C 508.5111389160156 256.2603149414062 508.6954956054688 256.3190612792969 508.7593383789062 256.3416137695312 C 508.7959594726562 256.3544006347656 508.8317260742188 256.368896484375 508.8683471679688 256.3825073242188 C 508.9219970703125 256.4025268554688 508.9764709472656 256.4216918945312 509.0296630859375 256.4433898925781 C 509.0599060058594 256.4557495117188 509.0897216796875 256.4697875976562 509.1199340820312 256.4825439453125 C 509.1782531738281 256.5072326660156 509.236572265625 256.5310668945312 509.2940673828125 256.5574951171875 C 509.3170166015625 256.568115234375 509.3391723632812 256.5800170898438 509.3621826171875 256.5906677246094 C 509.4255981445312 256.6209106445312 509.489013671875 256.651123046875 509.5515747070312 256.6834716796875 C 509.5924987792969 256.704345703125 509.6320495605469 256.7273254394531 509.6724853515625 256.7494812011719 C 509.7159423828125 256.7733154296875 509.7597961425781 256.7958679199219 509.8023681640625 256.820556640625 C 509.8500366210938 256.8482360839844 509.8964233398438 256.8776245117188 509.94287109375 256.9061279296875 C 509.9773559570312 256.9274291992188 510.0122375488281 256.9474182128906 510.0462951660156 256.9691162109375 C 510.0897216796875 256.9967956542969 510.1318359375 257.026611328125 510.1748657226562 257.0555419921875 C 510.2106018066406 257.079833984375 510.2471923828125 257.1032409667969 510.2825622558594 257.1283569335938 C 510.328125 257.1607055664062 510.3723754882812 257.1947631835938 510.4171142578125 257.2283935546875 C 510.4481811523438 257.2518005371094 510.4805297851562 257.2743835449219 510.5111389160156 257.2982177734375 C 510.5516357421875 257.3297119140625 510.59033203125 257.3629150390625 510.6299438476562 257.395263671875 C 510.6640014648438 257.4229431152344 510.698486328125 257.4497680664062 510.731689453125 257.4783020019531 C 510.7695922851562 257.5106506347656 510.8057861328125 257.5447082519531 510.8428344726562 257.577880859375 C 510.8764343261719 257.6076965332031 510.9104919433594 257.6370849609375 510.9432678222656 257.6681518554688 C 510.9871215820312 257.7090148925781 511.029296875 257.7515869140625 511.0714111328125 257.7937622070312 C 511.0964965820312 257.8184204101562 511.1220703125 257.8422546386719 511.1463317871094 257.8674011230469 C 511.1880493164062 257.910400390625 511.2284851074219 257.955078125 511.2689208984375 257.9993591308594 C 511.2923583984375 258.02490234375 511.3170166015625 258.0495910644531 511.3400268554688 258.0755615234375 C 511.3736572265625 258.1134643554688 511.4055786132812 258.1526184082031 511.4379272460938 258.1913452148438 C 511.4669189453125 258.2249755859375 511.4962768554688 258.2581787109375 511.5243530273438 258.2930908203125 C 511.5592651367188 258.3360900878906 511.592041015625 258.38037109375 511.6256713867188 258.4246520996094 C 511.6499633789062 258.4561462402344 511.6746520996094 258.4863891601562 511.6980590820312 258.518310546875 C 511.7338256835938 258.56640625 511.7670288085938 258.6162109375 511.8010864257812 258.6655883789062 C 511.8215026855469 258.6945495605469 511.8423461914062 258.7230834960938 511.8619384765625 258.75244140625 C 511.8930053710938 258.798828125 511.9223937988281 258.8469543457031 511.9522094726562 258.8946533203125 C 511.9730834960938 258.9278564453125 511.9948120117188 258.960205078125 512.0151977539062 258.9938354492188 C 512.04248046875 259.039794921875 512.0679931640625 259.0866394042969 512.0944213867188 259.1330261230469 C 512.115234375 259.1696472167969 512.136962890625 259.205810546875 512.156982421875 259.2432861328125 C 512.1837768554688 259.292236328125 512.2080688476562 259.3424987792969 512.2335815429688 259.3927001953125 C 512.25146484375 259.4280395507812 512.2702026367188 259.4629516601562 512.2877197265625 259.4991455078125 C 512.3118896484375 259.5493774414062 512.3341064453125 259.6008911132812 512.3570556640625 259.6519775390625 C 512.3732299804688 259.6890258789062 512.3907470703125 259.7251892089844 512.4064331054688 259.7622375488281 C 512.427734375 259.8120422363281 512.4468994140625 259.8631286621094 512.4664916992188 259.9137878417969 C 512.482177734375 259.9529418945312 512.498779296875 259.99169921875 512.5133056640625 260.0317077636719 C 512.5311889648438 260.0802612304688 512.5469360351562 260.129638671875 512.5635375976562 260.1785888671875 C 512.5780029296875 260.2215881347656 512.59375 260.26416015625 512.6077880859375 260.3075866699219 C 512.6239624023438 260.3590698242188 512.6380615234375 260.411865234375 512.6528930664062 260.4642333984375 C 512.6648559570312 260.5059509277344 512.6780395507812 260.5468139648438 512.6890869140625 260.5885620117188 C 512.7027587890625 260.6408996582031 512.7142333984375 260.6941223144531 512.7265625 260.7468872070312 C 512.73681640625 260.7894897460938 512.7478637695312 260.8320617675781 512.7572021484375 260.8754577636719 C 512.7678833007812 260.92529296875 512.7760009765625 260.9759521484375 512.7853393554688 261.0261840820312 C 512.7942504882812 261.072998046875 512.8040771484375 261.1198120117188 512.811767578125 261.1675109863281 C 512.81982421875 261.2151794433594 512.8248901367188 261.2633056640625 512.8317260742188 261.3114013671875 C 512.8389892578125 261.362060546875 512.8470458984375 261.4127197265625 512.8525390625 261.4642333984375 C 512.8577270507812 261.5101928710938 512.8607177734375 261.5566101074219 512.864990234375 261.6026000976562 C 512.86962890625 261.6566772460938 512.8756103515625 261.7102966308594 512.8790283203125 261.7647705078125 L 512.8790283203125 262.3663330078125 L 512.87939453125 262.3663330078125 L 512.87939453125 262.5553283691406 C 512.6746826171875 265.7907409667969 509.9730834960938 268.3250122070312 506.7291259765625 268.3250122070312 Z">
                        </path>
                    </svg>
                    <svg class="Path_2_ce" viewBox="647.358 251.841 20.64 20.64">
                        <path fill="rgba(255,255,255,1)" id="Path_2_ce" d="M 667.9906616210938 261.6813354492188 L 667.9800415039062 261.6817626953125 C 667.8416748046875 258.6685791015625 666.4091796875 255.890380859375 664.0230712890625 254.0270385742188 L 664.0230712890625 254.0253295898438 L 663.985107421875 253.9959716796875 L 663.8280639648438 253.8742065429688 L 663.8280639648438 253.8793182373047 C 662.0379638671875 252.5464172363281 659.9166259765625 251.8410034179688 657.677734375 251.8410034179688 C 651.9872436523438 251.8410034179688 647.3580322265625 256.4706420898438 647.3580322265625 262.1611328125 C 647.3580322265625 267.8516235351562 651.9872436523438 272.4808349609375 657.677734375 272.4808349609375 C 659.9166259765625 272.4808349609375 662.0379638671875 271.7758178710938 663.8280639648438 270.4429321289062 L 663.8280639648438 270.4480590820312 L 663.8280639648438 272.4808349609375 L 667.9906616210938 272.4808349609375 L 667.9906616210938 262.4425048828125 L 667.9906616210938 262.2505187988281 L 667.9932250976562 262.1683654785156 C 667.995361328125 262.10107421875 667.9979248046875 262.0338439941406 667.9979248046875 261.9657287597656 C 667.9979248046875 261.8980407714844 667.995361328125 261.8307800292969 667.9932250976562 261.7634887695312 L 667.9906616210938 261.6813354492188 Z M 663.8280639648438 262.5574645996094 C 663.6224365234375 265.7920227050781 660.9216918945312 268.3250122070312 657.677734375 268.3250122070312 C 654.2788696289062 268.3250122070312 651.5138549804688 265.5599975585938 651.5138549804688 262.1611328125 C 651.5138549804688 258.7622375488281 654.2788696289062 255.9968109130859 657.677734375 255.9968109130859 C 657.982177734375 255.9968109130859 658.2814331054688 256.0193786621094 658.57470703125 256.0623779296875 C 661.4061279296875 256.4783020019531 663.6420288085938 258.8333129882812 663.8280639648438 261.7647705078125 L 663.8280639648438 262.5574645996094 Z">
                        </path>
                    </svg>
                    <svg class="Path_3_cf" viewBox="546.725 203.817 20.64 41.084">
                        <path fill="rgba(255,255,255,1)" id="Path_3_cf" d="M 567.3580932617188 224.2614135742188 L 567.3580932617188 214.4210815429688 L 567.360595703125 214.3333740234375 C 567.3627319335938 214.2682495117188 567.3648681640625 214.2026824951172 567.3648681640625 214.1367034912109 C 567.3648681640625 214.0711364746094 567.3627319335938 214.0060119628906 567.360595703125 213.9404449462891 L 567.3580932617188 213.8527526855469 L 567.3580932617188 213.8527526855469 L 567.3580932617188 203.8170013427734 L 563.1950073242188 203.8170013427734 L 563.1950073242188 206.0966949462891 L 563.1954345703125 213.7365264892578 L 563.1950073242188 213.7365264892578 L 563.1950073242188 214.5372924804688 L 563.1950073242188 222.1771240234375 L 563.1950073242188 222.4236145019531 L 563.1950073242188 224.2614135742188 L 563.1950073242188 224.4568176269531 L 563.1950073242188 226.2997131347656 C 561.4052734375 224.9668121337891 559.2839965820312 224.2614135742188 557.045166015625 224.2614135742188 C 551.3546142578125 224.2614135742188 546.7249755859375 228.8910369873047 546.7249755859375 234.5815277099609 C 546.7249755859375 240.2720336914062 551.3546142578125 244.9012298583984 557.045166015625 244.9012298583984 C 559.2839965820312 244.9012298583984 561.4052734375 244.1962432861328 563.1950073242188 242.8633422851562 L 563.1950073242188 242.8684692382812 L 563.1950073242188 244.9012298583984 L 567.3580932617188 244.9012298583984 L 567.3580932617188 234.865478515625 L 567.360595703125 234.7782135009766 C 567.3627319335938 234.712646484375 567.3648681640625 234.6470947265625 567.3648681640625 234.5815277099609 C 567.3648681640625 234.5155487060547 567.3627319335938 234.4504089355469 567.360595703125 234.3848571777344 L 567.3580932617188 234.2971496582031 L 567.3580932617188 224.4568176269531 L 567.3580932617188 224.2614135742188 Z M 563.1950073242188 234.9778747558594 C 562.9898681640625 238.2124328613281 560.2890625 240.7454223632812 557.045166015625 240.7454223632812 C 553.646240234375 240.7454223632812 550.8807983398438 237.9804077148438 550.8807983398438 234.5815277099609 C 550.8807983398438 231.1826477050781 553.646240234375 228.4172210693359 557.045166015625 228.4172210693359 C 557.3495483398438 228.4172210693359 557.6488037109375 228.4397735595703 557.9417114257812 228.4827575683594 C 560.7735595703125 228.8986968994141 563.0089721679688 231.2537231445312 563.1950073242188 234.1851959228516 L 563.1950073242188 234.9778747558594 Z">
                        </path>
                    </svg>
                    <svg class="Path_4_cg" viewBox="597.042 251.841 20.639 41.084">
                        <path fill="rgba(255,255,255,1)" id="Path_4_cg" d="M 607.36181640625 251.8410034179688 C 605.1229248046875 251.8410034179688 603.0016479492188 252.5464172363281 601.2114868164062 253.8793182373047 L 601.2114868164062 253.8742065429688 L 601.2114868164062 251.8410034179688 L 597.0488891601562 251.8410034179688 L 597.0488891601562 261.8763427734375 L 597.0463256835938 261.9644470214844 C 597.044189453125 262.0299987792969 597.0420532226562 262.0951538085938 597.0420532226562 262.1611328125 C 597.0420532226562 262.2271118164062 597.044189453125 262.292236328125 597.0463256835938 262.3578186035156 L 597.0488891601562 262.4454956054688 L 597.0488891601562 262.4459228515625 L 597.0488891601562 272.2858276367188 L 597.0488891601562 272.4808349609375 L 597.0488891601562 282.3211669921875 L 597.0463256835938 282.4088439941406 C 597.044189453125 282.4744262695312 597.0420532226562 282.53955078125 597.0420532226562 282.6055297851562 C 597.0420532226562 282.6715087890625 597.044189453125 282.737060546875 597.0463256835938 282.8022155761719 L 597.0488891601562 292.9252319335938 L 601.2114868164062 292.9252319335938 L 601.2114868164062 272.4808349609375 L 601.2114868164062 272.2858276367188 L 601.2114868164062 270.4429321289062 C 603.0016479492188 271.7758178710938 605.1234130859375 272.4808349609375 607.36181640625 272.4808349609375 C 613.0523071289062 272.4808349609375 617.6815185546875 267.8516235351562 617.6815185546875 262.1611328125 C 617.6815185546875 256.4706420898438 613.0523071289062 251.8410034179688 607.36181640625 251.8410034179688 Z M 607.36181640625 268.3250122070312 C 607.0578002929688 268.3250122070312 606.7581176757812 268.3028869628906 606.4652099609375 268.2598876953125 C 603.6334228515625 267.8439636230469 601.39794921875 265.4884948730469 601.2114868164062 262.5574645996094 L 601.2114868164062 261.7647705078125 C 601.4171142578125 258.5302124023438 604.1182861328125 255.9968109130859 607.36181640625 255.9968109130859 C 610.7607421875 255.9968109130859 613.526123046875 258.7622375488281 613.526123046875 262.1611328125 C 613.526123046875 265.5599975585938 610.7607421875 268.3250122070312 607.36181640625 268.3250122070312 Z">
                        </path>
                    </svg>
                    <svg class="Path_5_ch" viewBox="798.333 251.841 20.467 20.64">
                        <path fill="rgba(255,255,255,1)" id="Path_5_ch" d="M 818.776611328125 260.1581420898438 C 817.8290405273438 255.3390960693359 813.571044921875 251.8410034179688 808.6527099609375 251.8410034179688 C 806.4139404296875 251.8410034179688 804.2926025390625 252.5464172363281 802.5028686523438 253.8793182373047 L 802.5028686523438 253.8742065429688 L 802.5028686523438 251.8410034179688 L 798.3402099609375 251.8410034179688 L 798.3402099609375 260.079833984375 L 798.3402099609375 260.1773071289062 L 798.33984375 261.8724975585938 L 798.3402099609375 261.8724975585938 L 798.3402099609375 261.8793029785156 L 798.3402099609375 261.8797302246094 L 798.33984375 261.8797302246094 L 798.3372802734375 261.9665832519531 C 798.3351440429688 262.0312805175781 798.3330078125 262.0959777832031 798.3330078125 262.1611328125 C 798.3330078125 262.2262573242188 798.3351440429688 262.2909545898438 798.3372802734375 262.3556823730469 L 798.33984375 262.4425048828125 L 798.33984375 264.1449584960938 L 798.3402099609375 264.1449584960938 L 798.3402099609375 264.242431640625 L 798.3402099609375 272.4808349609375 L 802.5028686523438 272.4808349609375 L 802.5028686523438 270.4480590820312 L 802.5028686523438 270.2011108398438 L 802.5028686523438 264.0474548339844 L 802.5028686523438 264.0474548339844 L 802.50244140625 262.5617065429688 L 802.5028686523438 262.5617065429688 L 802.5028686523438 261.7647705078125 C 802.5360717773438 261.2381896972656 802.6387329101562 260.7145385742188 802.8076782226562 260.2079467773438 C 803.6484985351562 257.689453125 805.99755859375 255.9968109130859 808.6527099609375 255.9968109130859 C 811.3087768554688 255.9968109130859 813.6582641601562 257.689453125 814.49951171875 260.2079467773438 L 814.5216064453125 260.2747802734375 L 818.7996826171875 260.2747802734375 L 818.776611328125 260.1581420898438 Z">
                        </path>
                    </svg>
                    <svg class="Path_6" viewBox="747.99 251.841 20.633 20.64">
                        <path fill="rgba(255,255,255,1)" id="Path_6" d="M 768.4540405273438 260.2747802734375 L 768.4310302734375 260.1581420898438 L 768.4157104492188 260.079833984375 L 768.41357421875 260.079833984375 C 767.9231567382812 257.684326171875 766.5919189453125 255.5395965576172 764.6549682617188 254.026611328125 L 764.6549682617188 254.0253295898438 L 764.6170654296875 253.9959716796875 L 764.4599609375 253.8742065429688 L 764.4599609375 253.8793182373047 C 762.6702880859375 252.5464172363281 760.5489501953125 251.8410034179688 758.31005859375 251.8410034179688 C 753.4186401367188 251.8410034179688 749.181884765625 255.3011932373047 748.2032470703125 260.079833984375 L 748.2015380859375 260.079833984375 L 748.185791015625 260.1581420898438 L 748.1627807617188 260.2747802734375 L 748.165771484375 260.2747802734375 C 748.0504150390625 260.8988952636719 747.9899291992188 261.5323486328125 747.9899291992188 262.1611328125 C 747.9899291992188 262.7899169921875 748.0504150390625 263.4237976074219 748.1661987304688 264.0474548339844 L 748.1632080078125 264.0474548339844 L 748.1861572265625 264.1636657714844 L 748.2015380859375 264.242431640625 L 748.2032470703125 264.242431640625 C 749.181884765625 269.0206298828125 753.4186401367188 272.4808349609375 758.31005859375 272.4808349609375 C 760.5489501953125 272.4808349609375 762.6702880859375 271.7758178710938 764.4599609375 270.4429321289062 L 764.4599609375 270.4480590820312 L 764.6170654296875 270.3262939453125 L 764.6549682617188 270.2969055175781 L 764.6549682617188 270.2947998046875 C 765.4288330078125 269.6902770996094 766.1156005859375 268.9763488769531 766.6945190429688 268.1692199707031 L 766.8052368164062 268.0146789550781 L 764.6549682617188 268.0146789550781 L 764.4599609375 268.0146789550781 L 760.2581787109375 268.0146789550781 L 760.2279052734375 268.0193481445312 C 759.6085205078125 268.222412109375 758.9635620117188 268.3250122070312 758.31005859375 268.3250122070312 C 755.700439453125 268.3250122070312 753.3897094726562 266.6889953613281 752.5123291015625 264.242431640625 L 764.1121826171875 264.242431640625 L 764.3182373046875 264.242431640625 L 764.4599609375 264.242431640625 L 764.6549682617188 264.242431640625 L 768.4157104492188 264.242431640625 L 768.4310302734375 264.1636657714844 C 768.5426025390625 263.59619140625 768.6072998046875 263.0180969238281 768.62255859375 262.4425048828125 L 768.62255859375 261.8793029785156 L 768.62255859375 261.8767700195312 C 768.608154296875 261.3433227539062 768.5493774414062 260.8052368164062 768.4514770507812 260.2747802734375 L 768.4540405273438 260.2747802734375 Z M 752.5118408203125 260.079833984375 C 752.5331420898438 260.0210571289062 752.5552978515625 259.9631958007812 752.5782470703125 259.9052734375 C 752.6063842773438 259.8333129882812 752.634033203125 259.7605285644531 752.6646728515625 259.6898803710938 C 752.69873046875 259.6119689941406 752.7362060546875 259.5361938476562 752.7732543945312 259.4599914550781 C 752.806884765625 259.3909912109375 752.8396606445312 259.3216247558594 752.8754272460938 259.2543640136719 C 752.9154052734375 259.1798706054688 752.9584350585938 259.10791015625 753.0010375976562 259.0359802246094 C 753.039306640625 258.9704284667969 753.0767822265625 258.9044189453125 753.1172485351562 258.840576171875 C 753.162353515625 258.7698974609375 753.2108764648438 258.7022094726562 753.2586059570312 258.6336669921875 C 753.3015747070312 258.5719604492188 753.34375 258.5097961425781 753.388427734375 258.4497680664062 C 753.4386596679688 258.3833618164062 753.4918823242188 258.3194885253906 753.544677734375 258.2556457519531 C 753.5919189453125 258.19775390625 753.6383056640625 258.1390075683594 753.687255859375 258.0832214355469 C 753.7426147460938 258.0206298828125 753.800537109375 257.9614868164062 753.8579711914062 257.9014587402344 C 753.9090576171875 257.8478088378906 753.9593505859375 257.7933044433594 754.0120849609375 257.7417907714844 C 754.0716552734375 257.6838989257812 754.13427734375 257.62939453125 754.1959838867188 257.5740966796875 C 754.2509155273438 257.5246887207031 754.3045654296875 257.4744567871094 754.3612060546875 257.4272155761719 C 754.4254150390625 257.3735656738281 754.4923095703125 257.3241882324219 754.5582885742188 257.2734985351562 C 754.6162109375 257.2288208007812 754.6732177734375 257.182861328125 754.7327880859375 257.1402587890625 C 754.8009643554688 257.0917358398438 754.8724365234375 257.0470581054688 754.9427490234375 257.0010681152344 C 755.003173828125 256.9614562988281 755.062744140625 256.920166015625 755.1248779296875 256.8827209472656 C 755.1976928710938 256.8388671875 755.2730712890625 256.7992858886719 755.3475341796875 256.7584228515625 C 755.4105834960938 256.7239379882812 755.4722900390625 256.687744140625 755.5365600585938 256.6553955078125 C 755.6131591796875 256.6166381835938 755.6923828125 256.5825805664062 755.7711181640625 256.5472412109375 C 755.8358154296875 256.5178833007812 755.8992919921875 256.4863891601562 755.9652709960938 256.4591369628906 C 756.0465698242188 256.4259338378906 756.1300048828125 256.3978271484375 756.2125854492188 256.3680419921875 C 756.278564453125 256.3441772460938 756.34326171875 256.3178100585938 756.4097290039062 256.2965087890625 C 756.4957275390625 256.2684326171875 756.5838012695312 256.2462768554688 756.671142578125 256.2220153808594 C 756.737060546875 256.2041320800781 756.8018188476562 256.1832580566406 756.8681640625 256.1670837402344 C 756.9609985351562 256.1449584960938 757.0559692382812 256.1287841796875 757.1500244140625 256.1109008789062 C 757.2130126953125 256.0985717773438 757.2752075195312 256.0836791992188 757.3390502929688 256.0734252929688 C 757.4442138671875 256.0568237304688 757.551025390625 256.046630859375 757.657470703125 256.0355529785156 C 757.7119750976562 256.0296020507812 757.765625 256.0206604003906 757.8201293945312 256.0163879394531 C 757.9818725585938 256.0036010742188 758.1453247070312 255.9968109130859 758.31005859375 255.9968109130859 C 758.474365234375 255.9968109130859 758.637939453125 256.0036010742188 758.7996826171875 256.0163879394531 C 758.8546142578125 256.0206604003906 758.9077758789062 256.0296020507812 758.9622802734375 256.0355529785156 C 759.0687255859375 256.046630859375 759.176025390625 256.0568237304688 759.2811279296875 256.0734252929688 C 759.3446044921875 256.0836791992188 759.40673828125 256.0985717773438 759.4697265625 256.1109008789062 C 759.5638427734375 256.1287841796875 759.6588134765625 256.1449584960938 759.7511596679688 256.1670837402344 C 759.8179931640625 256.1832580566406 759.8826904296875 256.2041320800781 759.9486694335938 256.2224426269531 C 760.0359497070312 256.2462768554688 760.1240844726562 256.2684326171875 760.2095947265625 256.2965087890625 C 760.2764892578125 256.3178100585938 760.3411865234375 256.3441772460938 760.4071655273438 256.3680419921875 C 760.48974609375 256.3978271484375 760.5731811523438 256.4259338378906 760.654052734375 256.4591369628906 C 760.7200927734375 256.4863891601562 760.783935546875 256.5178833007812 760.8486328125 256.5472412109375 C 760.927001953125 256.5825805664062 761.0061645507812 256.6166381835938 761.082763671875 256.6553955078125 C 761.1470336914062 256.687744140625 761.209228515625 256.7239379882812 761.272216796875 256.7588500976562 C 761.3466796875 256.7992858886719 761.421630859375 256.8388671875 761.4940185546875 256.8827209472656 C 761.5565795898438 256.920166015625 761.6162109375 256.9614562988281 761.6770629882812 257.0014953613281 C 761.747314453125 257.0470581054688 761.8179931640625 257.0917358398438 761.8865356445312 257.1402587890625 C 761.9461669921875 257.182861328125 762.003173828125 257.229248046875 762.0615234375 257.2739562988281 C 762.12744140625 257.3241882324219 762.1939086914062 257.3739929199219 762.2577514648438 257.4267883300781 C 762.3143310546875 257.4744567871094 762.3684692382812 257.5251159667969 762.42333984375 257.5744934082031 C 762.485107421875 257.6298522949219 762.5472412109375 257.6838989257812 762.6068115234375 257.7417907714844 C 762.6600341796875 257.7937622070312 762.7102661132812 257.8486633300781 762.7617797851562 257.9022827148438 C 762.81884765625 257.9618835449219 762.876708984375 258.0206298828125 762.9312133789062 258.0827941894531 C 762.9810180664062 258.1390075683594 763.0274658203125 258.1981506347656 763.0750732421875 258.2565002441406 C 763.12744140625 258.3203430175781 763.1802978515625 258.3833618164062 763.2301025390625 258.4493408203125 C 763.2752075195312 258.5097961425781 763.3177490234375 258.5723876953125 763.3607788085938 258.634521484375 C 763.408447265625 258.70263671875 763.45654296875 258.7703247070312 763.5012817382812 258.840576171875 C 763.5421142578125 258.9044189453125 763.57958984375 258.9708251953125 763.6182861328125 259.0364074707031 C 763.6604614257812 259.1087646484375 763.7034912109375 259.1802978515625 763.7430419921875 259.2543640136719 C 763.7792358398438 259.3220520019531 763.81201171875 259.3918762207031 763.8456420898438 259.4612426757812 C 763.8822631835938 259.53662109375 763.9197387695312 259.6119689941406 763.953369140625 259.689453125 C 763.9844360351562 259.7605285644531 764.0125122070312 259.833740234375 764.041015625 259.9065551757812 C 764.0631713867188 259.9635925292969 764.0857543945312 260.021484375 764.1066284179688 260.079833984375 L 752.5118408203125 260.079833984375 Z">
                        </path>
                    </svg>
                    <svg class="Path_7" viewBox="697.674 251.841 20.64 41.084">
                        <path fill="rgba(255,255,255,1)" id="Path_7" d="M 718.306640625 280.5242309570312 L 718.306640625 272.4808349609375 L 718.306640625 272.2858276367188 L 718.306640625 262.445068359375 L 718.306640625 262.4425048828125 L 718.306640625 262.2500915527344 L 718.3092041015625 262.1624145507812 C 718.311767578125 262.0972595214844 718.3138427734375 262.0317077636719 718.3138427734375 261.9661560058594 C 718.3138427734375 261.900146484375 718.311767578125 261.8345947265625 718.3092041015625 261.7694702148438 L 718.306640625 261.6817626953125 L 718.306640625 251.8410034179688 L 714.1439819335938 251.8410034179688 L 714.1439819335938 254.1206970214844 L 714.1444091796875 261.7605285644531 L 714.1439819335938 261.7605285644531 L 714.1439819335938 262.5574645996094 C 713.9384155273438 265.7920227050781 711.2376708984375 268.3250122070312 707.9937133789062 268.3250122070312 C 704.6846923828125 268.3250122070312 701.9800415039062 265.7371215820312 701.8366088867188 262.4327392578125 L 701.8366088867188 261.8848266601562 L 701.8366088867188 254.1262359619141 L 701.8366088867188 253.8793182373047 L 701.8366088867188 251.8410034179688 L 697.6739501953125 251.8410034179688 L 697.6739501953125 262.1611328125 C 697.6739501953125 265.3577880859375 699.1201171875 268.3169250488281 701.6416625976562 270.2896728515625 L 701.6416625976562 270.2913818359375 L 701.6790771484375 270.3207397460938 L 701.8366088867188 270.4425048828125 L 701.8366088867188 270.4378356933594 C 703.6279907226562 271.773681640625 705.7523193359375 272.4808349609375 707.9937133789062 272.4808349609375 C 710.2325439453125 272.4808349609375 712.3538818359375 271.7758178710938 714.1439819335938 270.4429321289062 L 714.1439819335938 270.4480590820312 L 714.1439819335938 272.2858276367188 L 714.1439819335938 272.4808349609375 L 714.1439819335938 274.318603515625 L 714.1439819335938 274.5650939941406 L 714.1439819335938 280.7196350097656 L 714.1439819335938 280.7196350097656 L 714.1444091796875 282.2049255371094 L 714.1439819335938 282.2049255371094 L 714.1439819335938 283.0018615722656 C 714.1103515625 283.5289001464844 714.0078125 284.0529479980469 713.8392333984375 284.5582885742188 C 712.9984130859375 287.07763671875 710.6493530273438 288.7698364257812 707.9937133789062 288.7698364257812 C 705.3377075195312 288.7698364257812 702.9885864257812 287.07763671875 702.1473999023438 284.5582885742188 L 702.125244140625 284.4918518066406 L 701.8366088867188 284.4918518066406 L 701.6416625976562 284.4918518066406 L 697.8468017578125 284.4918518066406 L 697.8698120117188 284.6080932617188 C 698.34619140625 287.0308227539062 699.6854858398438 289.2040710449219 701.6416625976562 290.7349243164062 L 701.6416625976562 290.7362060546875 L 701.6790771484375 290.7655639648438 L 701.8366088867188 290.8873291015625 L 701.8366088867188 290.8822326660156 C 703.6279907226562 292.2181091308594 705.7518920898438 292.9252319335938 707.9937133789062 292.9252319335938 C 710.2329711914062 292.9252319335938 712.3543090820312 292.2202453613281 714.1439819335938 290.8873291015625 L 714.1439819335938 290.8924560546875 L 714.3010864257812 290.7711181640625 L 714.3389892578125 290.7417297363281 L 714.3389892578125 290.7400512695312 C 716.2755737304688 289.2274780273438 717.607177734375 287.0823059082031 718.0975952148438 284.6868286132812 L 718.0997314453125 284.6868286132812 L 718.1150512695312 284.6080932617188 L 718.1380615234375 284.4918518066406 L 718.135498046875 284.4918518066406 C 718.2333984375 283.9618530273438 718.2921752929688 283.4237670898438 718.306640625 282.8873596191406 L 718.306640625 282.6945190429688 L 718.3092041015625 282.6068115234375 C 718.311767578125 282.5416870117188 718.3138427734375 282.4765319824219 718.3138427734375 282.4105529785156 C 718.3138427734375 282.3445739746094 718.311767578125 282.2794189453125 718.3092041015625 282.2142944335938 L 718.306640625 282.1261901855469 L 718.306640625 280.7196350097656 L 718.306640625 280.5242309570312 Z">
                        </path>
                    </svg>
               </div>
              </li>  
            </ul> 

          </div>
          <?php echo $this->element('home_nav_list'); ?>
          <div class="top-bar-right">
           
            
             <?php 
                if (isset($loggedInUser['id'])) {
                  # go to dashboard
                    echo $this->Html->link(__('My account'), 
                        ['controller' => 'Users','action' => 'dashboard'],
                        ['class' => 'primary button button-radius']);
                }else{
                   echo $this->element('cta');
                }
               
                ?>
          </div>
        </div>

        <div id="hero-content">
            <?= $this->Flash->render() ?>
            <div class="grid-x">
                <div class="cell large-7">
                    <h1><?= __('Watch Ads for Money and Earn Cash in Your Spare Time')?></h1>
                    <div id="hero-subheader">
                        <h5><?= __('Anywhere, anytime and boost your income')?></h5>
                        <div id="btn_red_cta">
                            <?= $this->Html->link(__('Start a free trial'),['controller' => 'users', 'action' => 'add'], ['class' => 'button primary button-radius']) ?>

                                <rect fill="rgba(253,83,83,1)" id="Rectangle_459" rx="19.60147476196289" ry="19.60147476196289" x="0" y="0" width="156.95" height="39.203">
                                </rect>
                        </div>
                    </div>
                </div>
                <div class="cell large-5">
                    
                         <?= $this->element('signup2'); ?> 

                    
                </div>

                

            </div>
        </div>
    </div>
</section>


<section>  
  <div class="content" id="how-it-works">
    <h3><?=__('Here how you can earn Cash & Gift Cards for the things you do online every day.')?></h3>
    <div class="grid-x">
        <div class="cell large-6">
            <div class="grid-x">
                <div class="cell large-6">
                    <p><?=$this->Html->image('Image_2.jpg') ?></p>
                </div>
                <div class="cell large-6">
                  <div class="description">
                    <h5><?= __('View ads and get paid')?></h5>
                      <p>
                            <?= __('In ad payer, advertisers pay for publicity of their ads while members get credited for watching them. So in our project our main focus is on members paying membership fees and us crediting them with the amount earned per video viewed in their membership plan.')?>
                        </p>
                        <p>
                        <?= $this->Html->link(__('View plans'),['controller' =>'packages','action' => 'index'],
                            ['class' => 'button primary button-radius']) ?>
                        </p>
                  </div>
                    
                </div>
            </div>
        </div>

        <div class="cell large-6">
            <div class="grid-x">
                <div class="cell large-6">
                    <p><?=$this->Html->image('Image_2.jpg') ?></p>
                </div>
                <div class="cell large-6">
                  <div class="description">
                    <h5><?= __('Grow your network')?></h5>
                      <p>
                            <?= __('Through direct referrals new members who register through our referral link. Every member has a unique affiliate link. When you forward it and someone opens it, they are redirected to the site')?>
                        </p>
                        <p>
                        <?= $this->Html->link(__('Get referral link'),
                            ['controller' =>'users','action' => 'add'],
                            ['class' => 'button primary button-radius']) ?>
                        </p>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
 </div>
</section>

<section id="stats">
    <div >
        <div class="grid-x home-content text-center">
            <div class="cell large-3">    
                <h2>
                    <div class="icon-box"><i class="fi-torsos"></i></div>
                    <span>721</span> 
                    
                </h2>
                <p>
                    <?= __('Members')?>
                </p>
            </div>
            <div class="cell large-3">    
                <h2>
                    <div class="icon-box"><i class="fi-graph-bar"></i></div>
                    <span>206</span>
                   
                </h2>
                <p>
                    % <?= __('Increase in revenue')?>
                </p>
            </div>
            <div class="cell large-3">
                
                    
                <h2>
                    <div class="icon-box"><i class="fi-dollar"></i></div>
                    <span>45,000</span>
                    
                </h2>
                <p>
                    <?= __('Payments since we began')?>
                </p>
                
                    
                
            </div>
            <div class="cell large-3">
                
                    
                <h2>
                    <div class="icon-box"><i class="fi-like"></i></div>
                    <span>78</span>
                    
                </h2>
                <p>
                    <?= __('Countries')?>
                </p>
                
                    
                
            </div>
        </div>
    </div>
</section>

<section id="plans">
    <div class="content">
        <h1><?= __('Our plans')?></h1>
        <div class="grid-x">
            <div class="cell large-12">
                <?= $this->element('plans', $results);?>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="content">
        <div class="grid-x">
            <div class="cell large-6">
                <?= $this->Html->image('img_bg_fq.jpg') ?>

            </div>
            <div class="cell large-6">
                <div class="description">
                    <h1><?= __('About Us')?></h1>
                <p>
                    <?= __('Ad payer is a PTC (paid to click) advertising company that pay cash for viewing advertisements online. We are a company that provides you with ad viewing job opportunities.

We are exclusively designed for people who want to make money online easily and safely through ad viewing jobs Ad viewing jobs are best suited for people who are looking for an easy way to start and generate a steady and significant income every month. We have helped a thousand of significant people like you who want to work from home and be in control of their own financial success. You do not need to have any previous experience.');
                    ?>
                </p>
                <?= $this->Html->link(__('Read more'), 
                ['controller' => 'Pages', 'action' => 'display', 'about'],
                ['class' => 'button primary button-radius'])?>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="content">
        <h2><?= __('What our members are saying')?></h2>
        <div class="grid-x">
            <div class="cell large-6">
                
                <div class="avatar-holder">
                    <div class="avatar-a">
                        <?= $this->Html->image('img_bg_b.png', array())?>
                    </div>
                    <div class="avatar-a">
                        <div>John</div>
                        <div>Student</div>
                    </div>    
                </div>
                <div class="testimonial-words">
                    <?= __('I have increased my income now, I can go for my dream vacation')?>
                </div>
            </div>

            <div class="cell large-6">
                <div class="avatar-holder">
                    <div class="avatar-a">
                        <?= $this->Html->image('img_bg_b.png', array())?>
                    </div>
                    <div class="avatar-a">
                        <div>Kate</div>
                        <div>Mom</div>
                    </div>    
                </div>
                <div class="testimonial-words">
                    <?= __('The extra cash helps me buy groceries for the family')?>
                </div>
            </div>

        </div>
        <div class="grid-x">
            <div class="cell large-6">
                
            </div>
            <div class="cell large-6"></div>
        </div>
    </div>
</section>

<!-- <section id="social">
    <div class="content">
        <div class="grid-x">
            <div class="cell large-12">
                <div class="social-buttons">
                    <div class="circe-social">
                        <a href="#"><i class="fi-social-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->





<?php 
echo $this->fetch('scriptBottom');
?>
<script>
    
jQuery(document).ready(function(){
    $('.counter').counterUp({
    delay: 10,
    time: 1000
});
})

</script>
</body>
</html>
