<?php

?>
<p>
	<?php  echo __('Hi '. $userData->f_name)?>
</p>
<p>
	<?php echo __('Someone requested a password reset for your email account. If this is you, please click the link below')?>
</p>
<p><?= $url?></p>