<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\ReferralEarning $referralEarning
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Referral Earnings'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="referralEarnings form large-9 medium-8 columns content">
    <?= $this->Form->create($referralEarning) ?>
    <fieldset>
        <legend><?= __('Add Referral Earning') ?></legend>
        <?php
            echo $this->Form->control('parent');
            echo $this->Form->control('child');
            echo $this->Form->control('amount');
            echo $this->Form->control('referral_status');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
