<?php
$this->extend('/Layout/default');
?>

<div class="grid-x">
	<!-- <div class="large-3 cell">
		<?php 
		//if ($loggedIn) {
			# code...
			echo $this->element('user_side_nav');
		//}
		?>
	</div> -->
	<?php echo $this->element('user_side_nav'); ?>
	<div class="large-12 cell ">

		<?= $this->fetch('content') ?>
	</div>
</div>
